body {
	padding-top: 40px;
}
a.anchor {
	position: relative;
	top: -40px;
}
/* Match margin-bottom to margin-top */
#content {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* Nested sublevel grouping, not used in these templates */
.nav {
	margin-top: 20px;
	padding-left: 15px;
	margin-right: -15px;
}
.nav .nav {
	margin-top: 0;
	margin-bottom: 4px;
}

/* Zoomable images, especially added to be backward compatible with the
 * silverstripe-treeish theme */
.zoom {
	float: right;
	clear: right;
	margin: 2ex 0 2ex 1em;
}
.zoom img {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	padding: 4px;
}
