body {
	padding-top: 40px;
}
a.anchor {
	position: relative;
	top: -40px;
}
/* Provide a way to add some vertical space */
.smallskip {
	margin-top: 10px;
}
.skip {
	margin-top: 20px;
}
.bigskip {
	margin-top: 30px;
}
/* Match margin-bottom to margin-top */
#content {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* Nested sublevel grouping, not used in these templates */
.nav {
	margin-top: 20px;
	padding-left: 15px;
	margin-right: -15px;
}
.nav .nav {
	margin-top: 0;
	margin-bottom: 4px;
}

/* Zoomable images, especially added to be backward compatible with the
 * silverstripe-treeish theme */
.zoom {
	/* By default (without explicit pull) floats on the right */
	float: right;
	clear: right;
	margin-left: 15px;
}
.pull-left .zoom {
	clear: left;
	margin-left: 0;
	margin-right: 15px;
}
.zoom img,
a.zoom img:hover {
	background-color: #fff;
	-moz-box-shadow: 0 0 6px 2px #eee;
	-webkit-box-shadow: 0 0 6px 2px #eee;
	box-shadow: 0 0 6px 2px #eee;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	padding: 8px;
	margin: 6px;
	border-radius: 5px;
}
a.zoom img {
	background-color: #eee;
	-moz-box-shadow: 0 0 6px 2px #ccc;
	-webkit-box-shadow: 0 0 6px 2px #ccc;
	box-shadow: 0 0 6px 2px #ccc;
}
.results ul {
	list-style: none;
}
.results li {
	padding: 4px 0;
}

/* Provide a way to put inside scrollable boxes chunks of arbitrary
 * HTML code (as required by e.g. privacy policies) */
.boxed {
	height: 30ex;
	overflow: auto;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.boxed > * {
	margin-top: 0;
}

.help-block {
	font-weight: bold;
}
